:root {
  --background: #195777;
  --active-color: #2D2D3C;
  --animation-duration: 1.2s;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
}


body {
  width: 100vw;
  height: 100vh;
  /* background-image: linear-gradient(to right bottom, #051937, #102647, #1b3358, #26416a, #314f7c); */
  background-color: var(--background);
	background-size: 400% 400%;
  /* animation: thing 15s ease infinite; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1 {
  color: white;
  text-align: center;
  visibility: hidden;
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.centre-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
}

.counter-message {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.stop-button-wrapper {
  grid-column: 3 / 3;
  align-items: flex-start !important;
}

.stop-button-wrapper button {
  transform: translateY(-200%);
  background-color: rgba(255, 255, 255, 0) !important;
  border: .25rem solid #eee;
  color: #eee;
  width: 14vw;
  height: 14vw;
  opacity: 0.5;;
}

.stop-button-wrapper button:hover,
.stop-button-wrapper button:active {
  opacity: 1;
}

.stop-button-wrapper button.play {
  animation: appear-down 1.2s ease-out 2.5s forwards;
}

.stop-button-wrapper button.disappear {
  animation: go-away-up 0.3s ease-in forwards;
}

p {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  opacity: 0;
}

p.active {
  animation: fadein var(--animation-duration) ease-out;
  animation-fill-mode: forwards;
}

button {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
  background-color: var(--active-color);
}

button.play {
  background: var(--active-color);
  position: absolute;
  animation: grow var(--animation-duration) ease-in;
  animation-fill-mode: forwards;
}

#button-text {
  color: #eee;
}
#button-text.play {
  animation: fadeout 0.1s ease-in;
  animation-fill-mode: forwards;
}

body.play {
  background: var(--active-color);
}

button:hover {
  background: var(--active-color);
}

@keyframes thing {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes grow {
  30% {
    width: 18vw;
    height: 18vw;
  }
  100% {
    width: 120vh;
    height: 120vh;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}

@keyframes appear-down {
  100% {
    transform: translateY(1rem);
  }
}

@keyframes go-away-up {
  100% {
    transform: translateY(-200%);
  }
}

.hide {
  display: none;
  visibility: hidden;
}